@model AulaDeASPNet.Models.Cliente


@{
    ViewData["Title"] = "Cadastro Cliente";
}
@* Formulário Cadastro Cliente *@
<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <h1>❉ Cadastro Cliente ❉</h1>
        </div>
    </div>
    <form method="post"></form>
    @* LINHA NOME E CPF *@
    <form method="post">
        <div class="row">
            
            <div class="col-lg-3">
                <label asp-for="Id" class="col-form-label fw-bolder">Id:</label>
                <input asp-for="Id" class="form-control" id="Id" type="text" />
            </div>
            
            <div class="col">
                <label asp-for="NomeCompleto" class="col-sm-2 col-form-label fw-bolder">NomeCompleto: </label>
                <input asp-for="NomeCompleto" class="form-control" id="NomeCompleto" type="text" />
            </div>
            <div class="col-lg-3">
                <label asp-for="CPF" class="col-form-label fw-bolder">CPF:</label>
                <input asp-for="CPF" class="form-control" id="CPF" type="text"/>
            </div>
            
            <div class="col-lg-3">
                <label asp-for="Email" class="col-form-label fw-bolder">Email:</label>
                <input asp-for="Email" class="form-control" id="Email" type="text" />
            </div>

            <div class="col-lg-3">
                <label asp-for="TelefoneCelular" class="col-form-label fw-bolder">TelefoneCelular:</label>
                <input asp-for="TelefoneCelular" class="form-control" id="TelefoneCelular" type="text" />
            </div>

            <div class="col-lg-3">
                <label asp-for="Endereço" class="col-form-label fw-bolder">Endereço:</label>
                <input asp-for="Endereço" class="form-control" id="Endereço" type="text" />
            </div>

        <div class="row">
            <div class="col">  
            </div>
        </div>
        <div class="row mt-3 justify-content-md-end">
            <div class="col-3 d-flex justify-content-end">
                <input type="submit" class="btn btn-outline-info btn-lg" name="name" value="Cadastrar" />
            </div>
        </div>
    </form>
</div>
