@model AulaDeASPNet.Models.Produto


@{
    ViewData["Title"] = "Cadastro Produto";
}
@* Formulário Cadastro Produto *@
<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <h1> 🥀 Cadastro Produto  🥀</h1>
        </div>
    </div>
    @* LINHA FORMULÁRIO *@
    <form method="post">
    <div class="row">
        <div class="col">
            <label asp-for="Nome" class="form-label fw-bolder">Nome do Produto: </label>
            <input asp-for="Nome" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label asp-for="VidaUtil" class="form-label fw-bolder">VidaUtil:</label>
            <input asp-for="VidaUtil" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label asp-for="Garantia" class="form-label fw-bolder">Garantia:</label>
            <input asp-for="Garantia" class="form-control" id="" />
        </div>
        <div class="col-lg-2">
            <label asp-for="Preços" class="form-label fw-bolder text-nowrap">Preços:</label>
            <input asp-for="Preços" class="form-control" id="" />
        </div>
    </div>
    <div class="row mt-3 justify-content-md-end">
        <div class="col-3 d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-dark btn-lg" name="name" value="Cadastrar" />
        </div>
    </div>
    </form>
</div>